Beehappy/Software/Soft Node-red/flows (1).json
[
    {
        "id": "740de70fe45a9d68",
        "type": "tab",
        "label": "Ruche",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "080222515ed16b7d",
        "type": "mqtt in",
        "z": "740de70fe45a9d68",
        "name": "Uplink",
        "topic": "v3/+/devices/+/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "53c652640fb5fa10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 160,
        "wires": [
            [
                "6be087e1c12f2a95"
            ]
        ]
    },
    {
        "id": "6be087e1c12f2a95",
        "type": "json",
        "z": "740de70fe45a9d68",
        "name": "Conversion",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fb4a73eef3b851d5"
            ]
        ]
    },
    {
        "id": "8b11d7e36b1c0ec1",
        "type": "mysql",
        "z": "740de70fe45a9d68",
        "mydb": "9f73ca365b5f7971",
        "name": "",
        "x": 930,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "966a0be1cb221905",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node R1",
        "func": "insert = \"INSERT INTO ruche1(masse)\" + \n    \"VALUES (\" + ((msg.payload.uplink_message.decoded_payload.poid -1664.2)/(54.059)) +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "82a6ca428747f48c",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node R2",
        "func": "insert = \"INSERT INTO ruche2(masse)\" + \n    \"VALUES (\" + ((msg.payload.uplink_message.decoded_payload.poid -1664.2)/(54.059)) +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 200,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "32de024c723c6ea1",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node R3",
        "func": "insert = \"INSERT INTO ruche3(masse)\" + \n    \"VALUES (\" + ((msg.payload.uplink_message.decoded_payload.poid -1664.2)/(54.059)) +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "574269e1c3dcbc51",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node R4",
        "func": "insert = \"INSERT INTO ruche4(masse)\" + \n    \"VALUES (\" + ((msg.payload.uplink_message.decoded_payload.poid -1664.2)/(54.059)) +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "fb4a73eef3b851d5",
        "type": "switch",
        "z": "740de70fe45a9d68",
        "name": "",
        "property": "payload.uplink_message.decoded_payload.balance",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "574269e1c3dcbc51"
            ],
            [
                "32de024c723c6ea1"
            ],
            [
                "82a6ca428747f48c"
            ],
            [
                "966a0be1cb221905"
            ],
            [
                "dcda4eb66f3072f9"
            ],
            [
                "10974ae87e017851"
            ]
        ]
    },
    {
        "id": "aef5cb9a77f0756e",
        "type": "mysql",
        "z": "740de70fe45a9d68",
        "mydb": "9f73ca365b5f7971",
        "name": "",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "b06ef17822ec12c4"
            ]
        ]
    },
    {
        "id": "8e7519ae27089c73",
        "type": "inject",
        "z": "740de70fe45a9d68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM modif ORDER BY Nombre DESC LIMIT 10;",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "aef5cb9a77f0756e"
            ]
        ]
    },
    {
        "id": "b06ef17822ec12c4",
        "type": "rbe",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "941a01942b309a2d",
                "ef47e72ae9235c2c",
                "b8a3bea82da4effd",
                "1b5c0cdd0fd30929",
                "34ec6e5f9e5dd6cd",
                "820563c774bd99d6",
                "e522dcb53919bab8",
                "ae91f009e80b6924",
                "38b9d0761e357d3d",
                "815cdab551bdbf38"
            ]
        ]
    },
    {
        "id": "1f06fa9398e6d794",
        "type": "mqtt out",
        "z": "740de70fe45a9d68",
        "name": "DownLink",
        "topic": "v3/usmb-beehappyv2@ttn/devices/rak-3172/down/replace",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "53c652640fb5fa10",
        "x": 1340,
        "y": 520,
        "wires": []
    },
    {
        "id": "667a2913325480f1",
        "type": "debug",
        "z": "740de70fe45a9d68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 580,
        "wires": []
    },
    {
        "id": "85f076b8afe84691",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "JSON TTN",
        "func": "return{\n    \"payload\":{\n    \"downlinks\": [{\n        \"f_port\": 15,\n        \"frm_payload\": msg.payload.toString(\"base64\"),\n        \"priority\" : \"NORMAL\"\n        }]    \n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 520,
        "wires": [
            [
                "1f06fa9398e6d794",
                "667a2913325480f1"
            ]
        ]
    },
    {
        "id": "941a01942b309a2d",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[0].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "ef47e72ae9235c2c",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[1].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "359c28ae64ab5952"
            ]
        ]
    },
    {
        "id": "b8a3bea82da4effd",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[2].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 600,
        "wires": [
            [
                "dc2246b7ab100165"
            ]
        ]
    },
    {
        "id": "1b5c0cdd0fd30929",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[3].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "900758dc2feee918"
            ]
        ]
    },
    {
        "id": "34ec6e5f9e5dd6cd",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[4].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "045a91db77191990"
            ]
        ]
    },
    {
        "id": "820563c774bd99d6",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[5].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 720,
        "wires": [
            [
                "384dfa2c979cda98"
            ]
        ]
    },
    {
        "id": "e522dcb53919bab8",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[6].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 760,
        "wires": [
            [
                "f318c08668a03f4c"
            ]
        ]
    },
    {
        "id": "ae91f009e80b6924",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[7].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "699dad68575da145"
            ]
        ]
    },
    {
        "id": "38b9d0761e357d3d",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[8].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 840,
        "wires": [
            [
                "4772c1e4ffd322ce"
            ]
        ]
    },
    {
        "id": "815cdab551bdbf38",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "",
        "func": "msg.payload =Buffer.from(String(msg.payload[9].Nombre));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 880,
        "wires": [
            [
                "faeac72dbf24d8aa"
            ]
        ]
    },
    {
        "id": "359c28ae64ab5952",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "dc2246b7ab100165",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "900758dc2feee918",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "045a91db77191990",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "384dfa2c979cda98",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "f318c08668a03f4c",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 762,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "699dad68575da145",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "35",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 800,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "4772c1e4ffd322ce",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 840,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "faeac72dbf24d8aa",
        "type": "delay",
        "z": "740de70fe45a9d68",
        "name": "",
        "pauseType": "delay",
        "timeout": "45",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 880,
        "wires": [
            [
                "85f076b8afe84691"
            ]
        ]
    },
    {
        "id": "10974ae87e017851",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node temperature",
        "func": "insert = \"INSERT INTO Temp(masse)\" + \n    \"VALUES (\" + msg.payload.uplink_message.decoded_payload.poid +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "dcda4eb66f3072f9",
        "type": "function",
        "z": "740de70fe45a9d68",
        "name": "Injection node humidite",
        "func": "insert = \"INSERT INTO Humi(masse)\" + \n    \"VALUES (\" + msg.payload.uplink_message.decoded_payload.poid +\");\";\n\nmsg.topic = insert;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "8b11d7e36b1c0ec1"
            ]
        ]
    },
    {
        "id": "53c652640fb5fa10",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "tls": "329c56920deb635c",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9f73ca365b5f7971",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "ruche",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "329c56920deb635c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]